.club-finance {
    width: 100%;
    padding: 10px;
    background-color: #fef4ea;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
  
.club-finance h2,
.club-finance h3 {
    margin-top: 0;
    text-decoration: underline;
}
  
.fund-amount {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid #fa5c35;
    padding: 10px;
    border-radius: 4px;
    background-color: #fa5c35;
    color: #ffffff;
}
  
.purchase-list {
    display: grid;
    gap: 5px;
    margin-top: 10px;
}
  
.purchase-item {
    background-color: #f7f7f7;
    padding: 8px;
    border-radius: 4px;
    transition: 0.3s;
}
  
.purchase-item:hover {
    background-color: #f0f0f0;
    transform: translateX(3px);
}
  
.purchase-name {
    flex: 2;
    font-weight: bold;
    font-size: 12px;
}
  
.purchase-amount, .purchase-date {
    flex: 1;
    text-align: right;
    margin-right: 5px;
    font-size: 12px;
}
.club-dashboard {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #fff;
}