.leader-intro {
    background-color: #3d566b; /* Same blue color as the sidebar */
    padding: 30px; /* Further increased padding for more height */
    color: #ffffff; /* White text */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    color: #ffffff;
    border-radius: 12px; /* Rounded corners */
}

.leader-intro h2 {
    text-decoration: underline; /* Underlined text */
    margin: 0;
} 